* {
    margin: 0px;
    padding: 0px;
    /*outline: 1px dotted red;*/
}

#padre {
    width: 970px;
    height: auto;
    margin: 0px auto;
    padding: 10px 0px 0px 0px;
    background-color: #245076;
}

#top {
    width: 950px;
    height: auto;
    margin: 0px 10px;
}

#imag {
    height: 100px;
    width: auto;
    display: inline-block;
}

#superiorderecha {
    height: 100px;
    width: 282px;
    margin-left: 310px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}

#textsize {
    color: white;
    margin-left: 80px;
}

.nl {
    color: yellow;
    text-decoration: underline;
    font-size: 15px;
}

#l {
    color: black;
}

#buscador {
    background-color: #444444;
    height: 28px;
    width: 246px;
    margin-top: 10px;
    padding: 17px;
    border: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px #1f252a;
}

#search {
    background-color: whitesmoke;
    color: gray;
    height: 16px;
    width: 137px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 6px;
    margin-left: 26px;
    border-style: solid;
    border-top-color: #9a9a9a;
    border-left-color: #9a9a9a;
    border-bottom-color: #ededed;
    border-right-color: #ededed;
}

#go {
    background-color: #245076;
    color: whitesmoke;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    height: 20px;
    width: 40px;
    border-style: solid;
    padding-top: 3px;
    border-radius: 5px;
    border-top-color: #b2b2b2;
    border-left-color: #b2b2b2;
    border-bottom-color: #6c6c6c;
    border-right-color: #6c6c6c;
    box-shadow: 1px 1px #2b2b2b;
}

#barraopciones {
    width: 840px;
    height: 34px;
    margin-left: 55px;
    background-color: #3a78ad;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 3px 0px #1f1f20;
}

.barra {
    display: inline;
    margin: 5px 21px;
    font-size: 23px;
    vertical-align: middle;
    color: white;
}

#izq {
    width: 300px;
    height: auto;
    margin-top: 30px;
    display: inline-block;
    vertical-align: top;
}

.textizq {
    color: white;
    text-decoration: underline;
    font-size: 20px;
    margin: 10px 0px;
    margin-left: 5px;
}

.icon {
    color: #d8bc3d;
    font: size 15px;
    text-decoration: none;
    text-align: center;
}

#der {
    width: 610px;
    height: auto;
    display: inline-block;
    margin: 10px 0px 10px;
}

#text1 {
    text-align: center;
    color: white;
    font-size: 15.8px;
}

.text2 {
    color: #e6c43a;
    font-size: 24px;
    text-align: center;
    margin: 10px;
}

.text3 {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

#inferior {
    width: 970px;
    height: auto;
    background-color: white;
}

#box1 {
    width: 420px;
    height: 280px;
    display: inline-block;
    margin-top: 15px;
    border-top: 3px solid #73a7d5;
    margin-left: 70px;
    vertical-align: top;
}

#box2 {
    width: 420px;
    height: 280px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
    border-top: 3px solid #73a7d5;
}

h3 {
    text-align: center;
    width: 316px;
}

#text4 {
    width: 316px;
    margin-top: 10px;
    text-align: center;
}

#text5 {
    width: 316px;
    margin-top: 10px;
    text-align: center;
}

#spann1 {
    font-size: 12px;
    color: #a2c5e3;
}

#ul1 {
    width: 316px;
    margin-left: 30px;
    margin-bottom: 10px;
    text-align: center;
    list-style-type: square;
}

.space {
    margin-top: 10px;
}

.ulli {
    font-size: 18px;
    color: #a2c5e3;
}

#ul2 {
    width: 316px;
    margin-left: 30px;
    margin-bottom: 10px;
    text-align: center;
    list-style-type: square;
}

#bottom {
    width: 970px;
    height: auto;
    background-image: linear-gradient(#25537b, #3274ac);
}

#textinf {
    padding-top: 40px;
    margin-top: 10px;
    margin-left: 150px;
}

.text6 {
    display: inline;
    margin: 5px 21px;
    font-size: 18px;
    vertical-align: middle;
    color: #79abd9;
}

#copy {
    margin-top: 20px;
    text-align: center;
    color: #73a8d7;
    font-size: 10px;
    padding-bottom: 5px;
}